from mistraldashboard import exceptions

DASHBOARD = 'mistral'
ADD_INSTALLED_APPS = ['mistraldashboard']
DEFAULT = True

ADD_EXCEPTIONS = {
    'recoverable': exceptions.RECOVERABLE,
    'not_found': exceptions.NOT_FOUND,
    'unauthorized': exceptions.UNAUTHORIZED,
}
