{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Execution Overview" %}{% endblock %}

{% block page_header %}
    <h1>
        {% trans "Execution Overview: " %}
        {{ execution.id|default:_("None") }}
    </h1>
{% endblock page_header %}

{% block main %}
    {% load i18n sizeformat %}
    <div class="detail">
        <h4>{% trans "Information" %}</h4>
        <hr class="header_rule">
        <dl class="dl-horizontal">
            <dt>{% trans "ID" %}</dt>
            <dd>{{ execution.id|default:_("None") }}</dd>
            <dt>{% trans "State" %}</dt>
            <dd>{{ execution.state }}</dd>
            {% if execution.description %}
                <dt>{% trans "Description" %}</dt>
                <dd>{{ execution.description }}</dd>
            {% endif %}
            <dt>{% trans "Worflow Name" %}</dt>
            <dd>{{ execution.workflow_name }}</dd>
            <dt>{% trans "Updated At" %}</dt>
            <dd>{{ execution.updated_at }}</dd>
            <dt>{% trans "Params" %}</dt>
            <dd>{{ execution.params }}</dd>
            <dt>{% trans "Input" %}</dt>
            <dd>{{ execution.input }}</dd>
            <dt>{% trans "Output" %}</dt>
            <dd>{{ execution.output }}</dd>
        </dl>
    </div>
{% endblock %}
